* {
    box-sizing: border-box;
}
.app-svg {
    background-color: #eee;
}
.header-box {
    border-bottom: 4px solid #000;
}
.svg-section-box {
    height: 310px;
    overflow: hidden;
}
.m-0 {
    margin: 0 !important;
}
.m-t-0 {
    margin-top: 0 !important;
}
.m-b-20 {
    margin-bottom: 20px !important;
}
.p-t-20 {
    padding-top: 20px;
}
.p-t-40 {
    padding: 40px 0 0;
}
.p-b-40 {
    padding-bottom: 40px !important;
}
.svg-world-map {
    width: 150px;
    overflow: hidden;
    margin: 0 auto;
    height: 150px;
    border-radius: 100%;
    background-color: #b3def3;
}
.svg-world-map .svg-mapbox-area {
    width: 150px;
    height: 150px;
    position: relative;
}
.mapbox {
    height: 150px;
    position: relative;
    animation: mapbox-anim 5s linear infinite;
}

@keyframes mapbox-anim {
    from {left: 0px;}
    to {left: 50px;}
}
#recycle {
    animation-name: rotate-recycle;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotate-recycle {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    75% {
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#car-1 {
    animation-name: car-1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes car-1 {
    0% {transform: translate(50px);}
    100% {transform: translate(-400px);}
}

#car-2 {
    animation-name: car-1;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes car-2 {
    0% {transform: translate(250px);}
    100% {transform: translate(-400px);}
}


* {
    margin: 0;
    padding: 0;
}
#the-bar-tab {
    width: 250px;
    position: relative;
    top: 54px;
    left: -10px;
}
svg {
    width: 100%;
    overflow: hidden;
}
#the-barS-svg {
    width: 155px;
    position: absolute;
    left: 64px;
    overflow: hidden;
    top: -28.8px;
}
#the-bar-triangle-1, #the-bar-triangle-2, #the-bar-triangle-3, #the-bar-triangle-4, #the-bar-triangle-5, #the-bar-triangle-6, #the-bar-triangle-7 {
    animation-duration: 1s;
    animation-iteration-count: 1;
    position: relative;
    fill: currentColor;
}
#pointer-one-1, #pointer-one-2, #pointer-one-3, #pointer-one-4, #pointer-one-5, #pointer-one-6, #pointer-one-7, #pointer-two-1, #pointer-two-2, #pointer-two-3, #pointer-two-4, #pointer-two-5, #pointer-two-6, #pointer-two-7, #pointer-three-1, #pointer-three-2, #pointer-three-3, #pointer-three-4, #pointer-three-5, #pointer-three-6, #pointer-three-7, #pointer-four-1, #pointer-four-2, #pointer-four-3, #pointer-four-4, #pointer-four-5, #pointer-four-6, #pointer-four-7 {
    fill: currentColor;
    transform: translateY(-0.2px);
}
#pointer-one-1, #pointer-one-2, #pointer-one-3, #pointer-one-4, #pointer-one-5, #pointer-one-6, #pointer-one-7 {
    display: block;/*-- Show and Hide pointer-one --*/
}
#pointer-two-1, #pointer-two-2, #pointer-two-3, #pointer-two-4, #pointer-two-5, #pointer-two-6, #pointer-two-7 {
    display: none;/*-- Show and Hide pointer-two --*/
}
#pointer-three-1, #pointer-three-2, #pointer-three-3, #pointer-three-4, #pointer-three-5, #pointer-three-6, #pointer-three-7 {
    display: none;/*-- Show and Hide pointer-three --*/
}
#pointer-four-1, #pointer-four-2, #pointer-four-3, #pointer-four-4, #pointer-four-5, #pointer-four-6, #pointer-four-7 {
    display: block;/*-- Show and Hide pointer-three --*/
}
#the-bar-triangle-1, #pointer-one-1, #pointer-two-1, #pointer-three-1, #pointer-four-1 {
    color: #BABABA;/*-- Change 1st Bar Color --*/
}
#the-bar-triangle-2, #pointer-one-2, #pointer-two-2, #pointer-three-2, #pointer-four-2 {
    color: #E64924;/*-- Change 2nd Bar Color --*/
}
#the-bar-triangle-3, #pointer-one-3, #pointer-two-3, #pointer-three-3, #pointer-four-3 {
    color: #287679;/*-- Change 3rd Bar Color --*/
}
#the-bar-triangle-4, #pointer-one-4, #pointer-two-4, #pointer-three-4, #pointer-four-4 {
    color: #DED19C;/*-- Change 4th Bar Color --*/
}
#the-bar-triangle-5, #pointer-one-5, #pointer-two-5, #pointer-three-5, #pointer-four-5 {
    color: #FCDB56;/*-- Change 5th Bar Color --*/
}
#the-bar-triangle-6, #pointer-one-6, #pointer-two-6, #pointer-three-6, #pointer-four-6 {
    color: #8EC241;/*-- Change 6th Bar Color --*/
}
#the-bar-triangle-7, #pointer-one-7, #pointer-two-7, #pointer-three-7, #pointer-four-7 {
    color: #6F6F6F;/*-- Change 7th Bar Color --*/
}
/*-- the-bar Bar Animation - 1 Start --*/
#the-bar-triangle-1 {
    animation-name: the-bar-triangle-1;
    transform: translateY(18%);
}
@keyframes the-bar-triangle-1 {
    from {
        transform:translateY(100%);
    }
    to {
        transform: translateY(18%);
    }
}
@-webkit-keyframes the-bar-triangle-1 {
    from {
        -webkit-transform:translateY(100%);
    }
    to {
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes the-bar-triangle-1 {
    from {
        -moz-transform:translateY(0100);
    }
    to {
        -moz-transform: translateY(0%);
    }
}
/*-- the-bar Bar Animation - 1 End --*/

/*-- the-bar Bar Animation - 2 Start --*/
#the-bar-triangle-2 {
    animation-name: the-bar-triangle-2;
    transform: translateY(50%)
}
@keyframes the-bar-triangle-2 {
    from {
        transform:translateY(100%);
    }
    to {
        transform: translateY(50%);
    }
}
@-webkit-keyframes the-bar-triangle-2 {
    from {
        -webkit-transform:translateY(100%);
    }
    to {
        -webkit-transform: translateY(50%);
    }
}
@-moz-keyframes the-bar-triangle-2 {
    from {
        -moz-transform:translateY(100%);
    }
    to {
        -moz-transform: translateY(50%);
    }
}
/*-- the-bar Bar Animation - 2 End --*/

/*-- the-bar Bar Animation - 3 Start --*/
#the-bar-triangle-3 {
    animation-name: the-bar-triangle-3;
    transform: translateY(5%)
}
@keyframes the-bar-triangle-3 {
    from {
        transform:translateY(100%);
    }
    to {
        transform: translateY(5%);
    }
}
@-webkit-keyframes the-bar-triangle-3 {
    from {
        -webkit-transform:translateY(100%);
    }
    to {
        -webkit-transform: translateY(5%);
    }
}
@-moz-keyframes the-bar-triangle-3 {
    from {
        -moz-transform:translateY(100%);
    }
    to {
        -moz-transform: translateY(5%);
    }
}
/*-- the-bar Bar Animation - 3 End --*/

/*-- the-bar Bar Animation - 4 Start --*/
#the-bar-triangle-4 {
    animation-name: the-bar-triangle-4;
    transform: translateY(67%);
}
@keyframes the-bar-triangle-4 {
    from {
        transform:translateY(100%);
    }
    to {
        transform: translateY(67%);
    }
}
@-webkit-keyframes the-bar-triangle-4 {
    from {
        -webkit-transform:translateY(100%);
    }
    to {
        -webkit-transform: translateY(67%);
    }
}
@-moz-keyframes the-bar-triangle-4 {
    from {
        -moz-transform:translateY(100%);
    }
    to {
        -moz-transform: translateY(67%);
    }
}
/*-- the-bar Bar Animation - 4 End --*/

/*-- the-bar Bar Animation - 5 Start --*/
#the-bar-triangle-5 {
    animation-name: the-bar-triangle-5;
    transform: translateY(32%);
}
@keyframes the-bar-triangle-5 {
    from {
        transform:translateY(100%);
    }
    to {
        transform: translateY(32%);
    }
}
@-webkit-keyframes the-bar-triangle-5 {
    from {
        -webkit-transform:translateY(100%);
    }
    to {
        -webkit-transform: translateY(32%);
    }
}
@-moz-keyframes the-bar-triangle-5 {
    from {
        -moz-transform:translateY(100%);
    }
    to {
        -moz-transform: translateY(0%);
    }
}
/*-- the-bar Bar Animation - 5 End --*/

/*-- the-bar Bar Animation - 6 Start --*/
#the-bar-triangle-6 {
    animation-name: the-bar-triangle-6;
    transform:translateY(0%)
}
@keyframes the-bar-triangle-6 {
    from {
        transform:translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}
@-webkit-keyframes the-bar-triangle-6 {
    from {
        -webkit-transform:translateY(100%);
    }
    to {
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes the-bar-triangle-6 {
    from {
        -moz-transform:translateY(100%);
    }
    to {
        -moz-transform: translateY(0%);
    }
}
/*-- the-bar Bar Animation - 6 End --*/

/*-- the-bar Bar Animation - 7 Start --*/
#the-bar-triangle-7 {
    animation-name: the-bar-triangle-7;
    transform: translateY(45%);
}
@keyframes the-bar-triangle-7 {
    from {
        transform:translateY(100%);
    }
    to {
        transform: translateY(45%);
    }
}
@-webkit-keyframes the-bar-triangle-7 {
    from {
        -webkit-transform:translateY(100%);
    }
    to {
        -webkit-transform: translateY(45%);
    }
}
@-moz-keyframes the-bar-triangle-7 {
    from {
        -moz-transform:translateY(100%);
    }
    to {
        -moz-transform: translateY(45%);
    }
}
.the-bar-tab-no-text{
    position: absolute;
    bottom: -15px;
    padding-left: 60px;
}
.the-bar-tab-alpha {
    letter-spacing: 0px;
    font-size: 8px;
    word-spacing: 15px;
    padding-left: 20px;
}
/*-- the-bar Bar Animation - 7 End --*/

.horizontal-bar{
    padding: 0px;
    background: #FFFFFF;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}
.horizontal-bar h2{
    color: #1a1a1a;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 30px;
}
.horizontal-bar .horizontal-no-text{
    position: absolute;
    bottom: 0px;
    padding-left: 13px;
}

.horizontal-bar .horizontal-bar-numbers{
    letter-spacing: 0px;
    font-size: 8px;
    word-spacing: 7px;
    padding-left: 20px;
}

.horizontal-bar #horizontal-tab {
    width: 250px;
    position: relative;
    top: 40px;
    left: -15px;
}
.horizontal-bar svg {
    width: 100%;
    overflow: hidden;
}
.horizontal-bar #horizontal-barS-svg {
    width: 171px;
    position: absolute;
    left: 46.5px;
    overflow: hidden;
    top: 20px;
}
#horizontal-bar-triangle-1, #horizontal-bar-triangle-2, #horizontal-bar-triangle-3, #horizontal-bar-triangle-4, #horizontal-bar-triangle-5, #horizontal-bar-triangle-6, #horizontal-bar-triangle-7 {
    animation-duration: 1s;
    animation-iteration-count: 1;
    position: relative;
    fill: currentColor;
}
#pointer-one-1, #pointer-one-2, #pointer-one-3, #pointer-one-4, #pointer-one-5, #pointer-one-6, #pointer-one-7, #pointer-two-1, #pointer-two-2, #pointer-two-3, #pointer-two-4, #pointer-two-5, #pointer-two-6, #pointer-two-7, #pointer-three-1, #pointer-three-2, #pointer-three-3, #pointer-three-4, #pointer-three-5, #pointer-three-6, #pointer-three-7, #pointer-four-1, #pointer-four-2, #pointer-four-3, #pointer-four-4, #pointer-four-5, #pointer-four-6, #pointer-four-7 {
    fill: currentColor;
    transform: translateX(-0.2px);
}
#pointer-one-1, #pointer-one-2, #pointer-one-3, #pointer-one-4, #pointer-one-5, #pointer-one-6, #pointer-one-7 {
    display: none;/*-- Show and Hide pointer-one --*/
}
#pointer-two-1, #pointer-two-2, #pointer-two-3, #pointer-two-4, #pointer-two-5, #pointer-two-6, #pointer-two-7 {
    display: none;/*-- Show and Hide pointer-two --*/
}
#pointer-three-1, #pointer-three-2, #pointer-three-3, #pointer-three-4, #pointer-three-5, #pointer-three-6, #pointer-three-7 {
    display: none;/*-- Show and Hide pointer-three --*/
}
#pointer-four-1, #pointer-four-2, #pointer-four-3, #pointer-four-4, #pointer-four-5, #pointer-four-6, #pointer-four-7 {
    display: block;/*-- Show and Hide pointer-three --*/
}
#horizontal-bar-triangle-1, #pointer-one-1, #pointer-two-1, #pointer-three-1, #pointer-four-1 {
    color: #BABABA;/*-- Change 1st Bar Color --*/
}
#horizontal-bar-triangle-2, #pointer-one-2, #pointer-two-2, #pointer-three-2, #pointer-four-2 {
    color: #E64924;/*-- Change 2nd Bar Color --*/
}
#horizontal-bar-triangle-3, #pointer-one-3, #pointer-two-3, #pointer-three-3, #pointer-four-3 {
    color: #287679;/*-- Change 3rd Bar Color --*/
}
#horizontal-bar-triangle-4, #pointer-one-4, #pointer-two-4, #pointer-three-4, #pointer-four-4 {
    color: #DED19C;/*-- Change 4th Bar Color --*/
}
#horizontal-bar-triangle-5, #pointer-one-5, #pointer-two-5, #pointer-three-5, #pointer-four-5 {
    color: #FCDB56;/*-- Change 5th Bar Color --*/
}
#horizontal-bar-triangle-6, #pointer-one-6, #pointer-two-6, #pointer-three-6, #pointer-four-6 {
    color: #8EC241;/*-- Change 6th Bar Color --*/
}
#horizontal-bar-triangle-7, #pointer-one-7, #pointer-two-7, #pointer-three-7, #pointer-four-7 {
    color: #6F6F6F;/*-- Change 7th Bar Color --*/
}
/*-- Horizontal Bar Animation - 1 Start --*/
#horizontal-bar-triangle-1 {
    animation-name: horizontal-bar-triangle-1;
    transform: translateX(-8%);
}
@keyframes horizontal-bar-triangle-1 {
    from {
        transform:translateX(-100%);
    }
    to {
        transform: translateX(-8%);
    }
}
@-webkit-keyframes horizontal-bar-triangle-1 {
    from {
        -webkit-transform:translateX(-100%);
    }
    to {
        -webkit-transform: translateX(-8%);
    }
}
@-moz-keyframes horizontal-bar-triangle-1 {
    from {
        -moz-transform:translateX(-100%);
    }
    to {
        -moz-transform: translateX(-8%);
    }
}
/*-- Horizontal Bar Animation - 1 End --*/

/*-- Horizontal Bar Animation - 2 Start --*/
#horizontal-bar-triangle-2 {
    animation-name: horizontal-bar-triangle-2;
    transform: translateX(-45%)
}
@keyframes horizontal-bar-triangle-2 {
    from {
        transform:translateX(-100%);
    }
    to {
        transform: translateX(-45%);
    }
}
@-webkit-keyframes horizontal-bar-triangle-2 {
    from {
        -webkit-transform:translateX(-100%);
    }
    to {
        -webkit-transform: translateX(-45%);
    }
}
@-moz-keyframes horizontal-bar-triangle-2 {
    from {
        -moz-transform:translateX(-100%);
    }
    to {
        -moz-transform: translateX(-45%);
    }
}
/*-- Horizontal Bar Animation - 2 End --*/

/*-- Horizontal Bar Animation - 3 Start --*/
#horizontal-bar-triangle-3 {
    animation-name: horizontal-bar-triangle-3;
}
@keyframes horizontal-bar-triangle-3 {
    from {
        transform:translateX(-100%);
    }
    to {
        transform: translateX(00%);
    }
}
@-webkit-keyframes horizontal-bar-triangle-3 {
    from {
        -webkit-transform:translateX(-100%);
    }
    to {
        -webkit-transform: translateX(0%);
    }
}
@-moz-keyframes horizontal-bar-triangle-3 {
    from {
        -moz-transform:translateX(-100%);
    }
    to {
        -moz-transform: translateX(0%);
    }
}
/*-- Horizontal Bar Animation - 3 End --*/

/*-- Horizontal Bar Animation - 4 Start --*/
#horizontal-bar-triangle-4 {
    animation-name: horizontal-bar-triangle-4;
    transform: translateX(-60%);
}
@keyframes horizontal-bar-triangle-4 {
    from {
        transform:translateX(-100%);
    }
    to {
        transform: translateX(-60%);
    }
}
@-webkit-keyframes horizontal-bar-triangle-4 {
    from {
        -webkit-transform:translateX(-100%);
    }
    to {
        -webkit-transform: translateX(-60%);
    }
}
@-moz-keyframes horizontal-bar-triangle-4 {
    from {
        -moz-transform:translateX(-100%);
    }
    to {
        -moz-transform: translateX(-60%);
    }
}
/*-- Horizontal Bar Animation - 4 End --*/

/*-- Horizontal Bar Animation - 5 Start --*/
#horizontal-bar-triangle-5 {
    animation-name: horizontal-bar-triangle-5;
    transform: translateX(-15%);
}
@keyframes horizontal-bar-triangle-5 {
    from {
        transform:translateX(-100%);
    }
    to {
        transform: translateX(-15%);
    }
}
@-webkit-keyframes horizontal-bar-triangle-5 {
    from {
        -webkit-transform:translateX(-100%);
    }
    to {
        -webkit-transform: translateX(-15%);
    }
}
@-moz-keyframes horizontal-bar-triangle-5 {
    from {
        -moz-transform:translateX(-100%);
    }
    to {
        -moz-transform: translateX(-15%);
    }
}
/*-- Horizontal Bar Animation - 5 End --*/

/*-- Horizontal Bar Animation - 6 Start --*/
#horizontal-bar-triangle-6 {
    animation-name: horizontal-bar-triangle-6;
}
@keyframes horizontal-bar-triangle-6 {
    from {
        transform:translateX(-100%);
    }
    to {
        transform: translateX(00%);
    }
}
@-webkit-keyframes horizontal-bar-triangle-6 {
    from {
        -webkit-transform:translateX(-100%);
    }
    to {
        -webkit-transform: translateX(0%);
    }
}
@-moz-keyframes horizontal-bar-triangle-6 {
    from {
        -moz-transform:translateX(-100%);
    }
    to {
        -moz-transform: translateX(0%);
    }
}
/*-- Horizontal Bar Animation - 6 End --*/

/*-- Horizontal Bar Animation - 7 Start --*/
#horizontal-bar-triangle-7 {
    animation-name: horizontal-bar-triangle-7;
    transform: translateX(-40%);
}
@keyframes horizontal-bar-triangle-7 {
    from {
        transform:translateX(-100%);
    }
    to {
        transform: translateX(-40%);
    }
}
@-webkit-keyframes horizontal-bar-triangle-7 {
    from {
        -webkit-transform:translateX(-100%);
    }
    to {
        -webkit-transform: translateX(-40%);
    }
}
@-moz-keyframes horizontal-bar-triangle-7 {
    from {
        -moz-transform:translateX(-100%);
    }
    to {
        -moz-transform: translateX(-40%);
    }
}
/*-- Horizontal Bar Animation - 7 End --*/

.progress-bar-animation{
    background: #FFFFFF;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}
.progress-bar-animation-container{
    width: 300px;
    transform: scale(0.85);
    left: -15px;
    position: relative;
}
.progress-bar-animation h2 {
    color: #1a1a1a;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 30px;
}
.progress-bar-animation h3{
    font-weight: 600;
    font-size: 14px;
    color: #1a1a1a;
    margin-top: 0px;
    margin: 30px 0px 20px 0px;
    line-height: 20px;
}
.progress-bar-animation .heading{
    font-size: 1.5em;
    margin:3em 0;
}
.progress-bar-animation .section{
    position: relative;
    display: block;
    width: 100%;
    margin: 2em 0 1em 0;
}

.progress-bar-animation .lft-sec{
    display: inline-block;
    width: 70%;
    font-weight: 500;
    color: #808080;
    font-size:14px;
}
.progress-bar-animation .rght-sec{
    display: inline-block;
    width: 28%;
    text-align:right;
    font-weight: bold;
}
.progress-bar-animation .progress-bar1-wid,.progress-bar2-wid,.progress-bar3-wid{
    width: 300px;
}
.progress-bar-animation .progress-bar1 {
    animation-name: progress1;
    animation-duration: 2s;
    animation-iteration-count:1;
    animation-delay:20ms;
}

@keyframes progress1 {
    from {transform:translateX(-100%);}
    to {transform:translateX(00%);}
}

.progress-bar-animation .progress-bar2 {
    animation-name: progress2;
    animation-duration: 2s;
    animation-iteration-count:1;
    animation-delay:300ms;
    animation-fill-mode: forwards;
    transform:translateX(-100%);
}

@keyframes progress2 {
    from {transform:translateX(-100%);}
    to {transform:translateX(00%);}
}


.progress-bar-animation .progress-bar3 {
    animation-name: progress3;
    animation-duration: 2s;
    animation-iteration-count:1;
    animation-delay:1s;
    animation-fill-mode: forwards;
    transform:translateX(-100%);
}


@keyframes progress3 {
    from {transform:translateX(-100%);}
    to {transform:translateX(00%);}
}

.power-of-wind{
    width:300px;
    height:320px;
    overflow:hidden;
    transform: scale(.98);
    position: relative;
    top: -80px
}
.power-of-wind svg{
    width: auto;
}
#sun{
    animation-name: sun;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes sun {
    from {
        transform:translateX(-100px);
    }
    to {
        transform:translateX(0px);
    }
}
#sun-cloud{
    animation-name: sun-cloud;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes sun-cloud {
    from {
        transform:translateX(100px);
    }
    to {
        transform:translateX(0px);
    }
}
#cloud{
    animation-name: cloud;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes cloud {
    from {
        transform:translateX(-100px);
    }
    to {
        transform:translateX(0px);
    }
}


#fan-1{
    animation-name: fan-1;
    animation-duration: 60s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    position: absolute;
    left: 133px;
    top: 110px;
}
@keyframes fan-1 {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(1960deg)
    }
}


#fan-2{
    animation-name: fan-2;
    animation-duration: 60s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    position: absolute;
    left: 36px;
    top: 183px;
}
@keyframes fan-2 {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(1960deg)
    }
}
/*Electrifying graph*/

#electrifying-graphics{
    width:250px;
    height: 205.4px;
    overflow:hidden;
    margin-top: 55px;
}
#electrifying-graphics-box-1,#electrifying-graphics-box-2,#electrifying-graphics-box-3,#electrifying-graphics-box-4{
    display:inline-block;
    padding:0 10px;
}
#electrifying-graphics-box-1 {
    animation-name: electrifying-graphics-box-1;
    animation-duration: 1s;
    animation-iteration-count: 1;
    position: relative;
    bottom: -0%;/* Change 1st bar height */
}
@keyframes electrifying-graphics-box-1 {
    from {
        bottom:-100%;
    }
    to {
        bottom: 0%;/* Change 1st bar height */
    }
}
#electrifying-graphics-box-2 {
    animation-name: electrifying-graphics-box-2;
    animation-duration: 1s;
    animation-iteration-count: 1;
    position: relative;
    bottom: -60%;/* Change 1st bar height */
}
@keyframes electrifying-graphics-box-2 {
    from {
        bottom:-100%;
    }
    to {
        bottom: -60%;/* Change 1st bar height */
    }
}
#electrifying-graphics-box-3 {
    animation-name: electrifying-graphics-box-3;
    animation-duration: 1s;
    animation-iteration-count: 1;
    position: relative;
    bottom: -35%;/* Change 1st bar height */
}
@keyframes electrifying-graphics-box-3 {
    from {
        bottom:-100%;
    }
    to {
        bottom: -35%;/* Change 1st bar height */
    }
}
#electrifying-graphics-box-4 {
    animation-name: electrifying-graphics-box-4;
    animation-duration: 1s;
    animation-iteration-count: 1;
    position: relative;
    bottom: 0%;/* Change 1st bar height */
}
@keyframes electrifying-graphics-box-4 {
    from {
        bottom:-100%;
    }
    to {
        bottom: 0%;/* Change 1st bar height */
    }
}

.electrifying-graphics-spark-1{
    animation-name: electrifying-graphics-spark-1;
    animation-duration: 1s;
    animation-iteration-count:infinite;
    position: relative;
}
@keyframes electrifying-graphics-spark-1 {
0 {transform: translateY(0px);}
80%{transform: translateY(5px);}
81%{transform: translateY(-4px);}
}
.electrifying-graphics-spark-2{
    animation-name: electrifying-graphics-spark-2;
    animation-duration: 1s;
    animation-iteration-count:infinite;
    position: relative;
}
@keyframes electrifying-graphics-spark-2 {
0 {transform: translateY(0px);}
80%{transform: translateY(5px);}
81%{transform: translateY(-4px);}
}


/*Bonus Animation*/

.tdd-clock{
    position: relative;
}
.clock-svg{
    height: 50px;
}
.clock-box-1{
    display: inline-block;
    position:relative;
}
.clock-box-2{
    top: -38px;
    position: relative;
    display: inline-block;
    left: 18px;
}
#clock {
    animation-name: clock;
    animation-duration: 90s;
    animation-iteration-count:infinite;
    position:relative;
    transform-origin: center 50%;
}
@keyframes clock {
    from{transform:rotate(0deg); }
    to{transform:rotate(9600deg); }
}
@-webkit-keyframes clock {
    from{ -webkit-transform:rotate(0deg); }
    to{ -webkit-transform:rotate(9600deg); }
}
@-moz-keyframes clock {
    from{ -moz-transform:rotate(0deg); }
    to{ -moz-transform:rotate(9600deg); }
}

.Hotair-balloon{
    height: 50px;
}
#hot-air-balloon {
    animation-name: hot-air-balloon;
    animation-duration: 8s;
    animation-iteration-count:infinite;
    position:relative;
    transform-origin: center 50%;
}
#hot-air-balloon .stripe{
    color: #e74925;/* Change stripe Color */
    fill: currentColor;
}
@keyframes hot-air-balloon {
    0%{ transform:translateY(-5px); }
    10%{ transform:translateY(5px);}
    20%{ transform:translateY(-5px); }
    30%{ transform:translateY(5px);}
    40%{ transform:translateY(-5px); }
    50%{ transform:translateY(5px);}
    60%{ transform:translateY(-5px); }
    70%{ transform:translateY(5px);}
    80%{ transform:translateY(-5px); }
    90%{ transform:translateY(5px);}
    100%{ transform:translateY(-5px);}
}
@-webkit-keyframes hot-air-balloon {
    0%{ -webkit-transform:translateY(-5px); }
    10%{-webkit-transform:translateY(5px);}
    20%{ -webkit-transform:translateY(-5px); }
    30%{-webkit-transform:translateY(5px);}
    40%{ -webkit-transform:translateY(-5px); }
    50%{-webkit-transform:translateY(5px);}
    60%{ -webkit-transform:translateY(-5px); }
    70%{-webkit-transform:translateY(5px);}
    80%{ -webkit-transform:translateY(-5px); }
    90%{-webkit-transform:translateY(5px);}
    100%{-webkit-transform:translateY(-5px);}
}
@-moz-keyframes hot-air-balloon {
    0%{ -moz-transform:translateY(-5px); }
    10%{-moz-transform:translateY(5px);}
    20%{ -moz-transform:translateY(-5px); }
    30%{-moz-transform:translateY(5px);}
    40%{ -moz-transform:translateY(-5px); }
    50%{-moz-transform:translateY(5px);}
    60%{ -moz-transform:translateY(-5px); }
    70%{-moz-transform:translateY(5px);}
    80%{ -moz-transform:translateY(-5px); }
    90%{-moz-transform:translateY(5px);}
    100%{-moz-transform:translateY(-5px);}

}

.tdd-compass{
    position:relative;
}
.svg-Compass{
    height: 50px;
}
.Compass-box-1{
    display:inline-block;
    position:relative;
}
.Compass-box-2{
    top: -34px;
    position: relative;
    display: inline-block;
    left: 0px;
}
.Compass-border-color{
    color: #8EC241;/* Change Compass border Color */
    fill: currentColor;
}

#Compass-2 {
    animation-name: Compass;
    animation-duration: 4s;
    animation-iteration-count:infinite;
    position:relative;
    transform-origin: center 50%;
}
@keyframes Compass {
    0% { transform:rotate(0); }
    50%{ transform:rotate(47deg); }
    100%{ transform:rotate(0deg); }
}
@-webkit-keyframes Compass {
    0% { -webkit-transform:rotate(0); }
    50%{ -webkit-transform:rotate(47deg); }
    100%{ -webkit-transform:rotate(0deg); }
}
@-moz-keyframes Compass {
    0% { -moz-transform:rotate(0); }
    50%{ -moz-transform:rotate(47deg); }
    100%{ -moz-transform:rotate(0deg); }
}

#gear{
    position:relative;
    height: 50px;
    width: 50px;

    top: 10px;
}
.gear-box-1{
    position:relative;
    display:inline-block;
}
.gear-box-2{
    position:relative;
    display: inline-block;
    left: -13px;
    top: 17px;
}
.gear-1-color{
    color: #FCDB56;/* Change Gear 1st color */
    fill: currentColor;
}
.gear-2-color{
    color: #F0582F;/* Change Gear 1st color */
    fill: currentColor;
}

#gear-1 {
    animation-timing-function:linear;
    animation-name: gear-1;
    animation-duration: 4s;
    animation-iteration-count:infinite;
    position:relative;
    transform-origin: center 50%;

}
#gear-2 {
    animation-timing-function:linear;
    animation-name: gear-2;
    animation-duration: 4s;
    animation-iteration-count:infinite;
    position:relative;
    transform-origin: center 50%;

}
@keyframes gear-1 {
    from{ transform:rotate(0deg); }
    to{ transform:rotate(-360deg); }
}

@-webkit-keyframes gear-1 {
    from{ -webkit-transform:rotate(0deg); }
    to{ -webkit-transform:rotate(-360deg); }
}

@-moz-keyframes gear-1 {
    from{ -moz-transform:rotate(0deg); }
    to{ -moz-transform:rotate(-360deg); }
}

@keyframes gear-2 {
    from{ transform:rotate(0deg); }
    to{ transform:rotate(360deg); }
}
@-webkit-keyframes gear-2 {
    from{ -webkit-transform:rotate(0deg); }
    to{ -webkit-transform:rotate(360deg); }
}
@-moz-keyframes gear-2 {
    from{ -moz-transform:rotate(0deg); }
    to{ -moz-transform:rotate(360deg); }
}

.svg-eye{
    width: 50px;
}
#moveEye{
    animation-name: moveEye;
    animation-duration: 4s;
    animation-iteration-count:infinite;
    position:relative;
    transform: translateX(10px);
}

@keyframes moveEye {
    30% {transform: translateX(0px);}
    50% {transform: translateX(-10px);}
    100% {transform: translateX(10px);}
}

@-webkit-keyframes moveEye {
    30% {-webkit-transform: translateX(0px);}
    50% {-webkit-transform: translateX(-10px);}
    100% {-webkit-transform: translateX(0px);}
}

@-moz-keyframes moveEye {
    30% {-moz-transform: translateX(0px);}
    50% {-moz-transform: translateX(-10px);}
    100% {-moz-transform: translateX(10px);}
}

.svg-Search{
    height: 50px;
}
#search{
    animation-name: search;
    animation-duration: 9s;
    animation-iteration-count:infinite;
    position:relative;
    transform-origin: center 50%;
}
@keyframes search {
    0%{ transform:scale(1);}
    10%{ transform:scale(.8);}
    20%{transform:scale(1); }
    30%{ transform:scale(.8);}
    40%{transform:scale(1); }
    50%{ transform:scale(.8);}
    60%{transform:scale(1); }
    70%{ transform:scale(.8);}
    80%{transform:scale(1); }
    90%{ transform:scale(.8);}
    100%{ transform:scale(1);}
}
@-webkit-keyframes search {
    0%{ -webkit-transform:scale(1);}
    10%{ -webkit-transform:scale(.8);}
    20%{-webkit-transform:scale(1); }
    30%{ -webkit-transform:scale(.8);}
    40%{-webkit-transform:scale(1); }
    50%{ -webkit-transform:scale(.8);}
    60%{-webkit-transform:scale(1); }
    70%{ -webkit-transform:scale(.8);}
    80%{-webkit-transform:scale(1); }
    90%{ -webkit-transform:scale(.8);}
    100%{ -webkit-transform:scale(1);}
}
@-moz-keyframes search {
    0%{ -moz-transform:scale(1);}
    10%{ -moz-transform:scale(.8);}
    20%{-moz-transform:scale(1); }
    30%{ -moz-transform:scale(.8);}
    40%{-moz-transform:scale(1); }
    50%{ -moz-transform:scale(.8);}
    60%{-moz-transform:scale(1); }
    70%{ -moz-transform:scale(.8);}
    80%{-moz-transform:scale(1); }
    90%{ -moz-transform:scale(.8);}
    100%{ -moz-transform:scale(1);}

}

.svg-Compact-disc{
    height:50px;
}
#compact-disc {
    animation-name: compact-disc;
    animation-duration: 4s;
    animation-iteration-count:infinite;
    position:relative;
    transform-origin: center 50%;
}
@keyframes compact-disc {
    from{ transform:rotate(0deg); }
    to{ transform:rotate(360deg); }
}
@-webkit-keyframes compact-disc {
    from{ -webkit-transform:rotate(0deg); }
    to{ -webkit-transform:rotate(360deg); }
}
@-moz-keyframes compact-disc {
    from{ -moz-transform:rotate(0deg); }
    to{ -moz-transform:rotate(360deg); }
}

.svg-tower{
    height: 50px;
}
.tower1{
    animation-name: tower1;
    animation-duration: 8s;
    animation-iteration-count:infinite;
    position:relative;
}

@keyframes tower1 {
    30% {opacity:1;}
    50% {opacity:0;}
    80% {opacity:0;}
    100% {opacity:1;}
}
@-webkit-keyframes tower1 {
    30% {opacity:1;}
    50% {opacity:0;}
    80% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes tower1 {
    30% {opacity:1;}
    50% {opacity:0;}
    80% {opacity:0;}
    100% {opacity:1;}
}
.tower21{
    animation-name: tower2;
    animation-duration: 4s;
    animation-iteration-count:infinite;
    position:relative;
}
@keyframes tower2 {
    30% {opacity:1;}
    50% {opacity:0;}
    80% {opacity:0;}
    100% {opacity:1;}
}
@-webkit-keyframes tower2 {
    30% {opacity:1;}
    50% {opacity:0;}
    80% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes tower2 {
    30% {opacity:1;}
    50% {opacity:0;}
    80% {opacity:0;}
    100% {opacity:1;}
}


.svg-section-box2 {
    padding: 25px 0;
    background: #FFFFFF;/*-- Change Box Background Color --*/
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    overflow:hidden;
}
.svg-section-box2 .star-box {
    font-size: 20px;
    padding: 20px 0px;
}
.svg-section-box2 h2 {
    color: #1a1a1a;/*-- Change Heading Color --*/
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
}
.svg-section-box2 h3 {
    font-weight: 600;
    font-size: 14px;
    color: #1a1a1a;/*-- Change Sub Heading Color --*/
    margin-top: 0px;
}
.svg-section-box2 p {
    color: #808080;/*-- Change Text Color --*/
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
}
/*-- Star1 CSS Start --*/
.svg-section-box2 .star1 {
    animation-name: star1;
    animation-duration: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    font-size: 40px;
    padding: 0 5px;
    color: #E84824;/*-- Change Star Color --*/
}
@keyframes star1 {
    from {
        opacity: 0;
        transform: rotate3d(0, 30, 2, 200deg);
    }
    to {
        opacity: 1;
        transform: rotate3d(0, 1, 2, 0deg);
    }
}
/*-- Star1 CSS End --*/

/*-- Star2 CSS Start --*/
.svg-section-box2 .star2 {
    animation-name: star2;
    animation-duration: 1s;
    animation-delay: 0.3s;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    font-size: 40px;
    padding: 0 5px;
    color: #E84824;/*-- Change Star Color --*/
}
@keyframes star2 {
    from {
        opacity: 0;
        transform: rotate3d(0, 30, 2, -200deg);
    }
    to {
        opacity: 1;
        transform: rotate3d(0, 2, 2, 0deg);
    }
}
/*-- Star2 CSS End --*/

/*-- Star3 CSS Start --*/
.svg-section-box2 .star3 {
    animation-name: star3;
    animation-duration: 1s;
    animation-delay: 0.6s;
    opacity: 0;
    animation-fill-mode: forwards;
    font-size: 40px;
    padding: 0 5px;
    animation-iteration-count: 1;
    color: #E84824;/*-- Change Star Color --*/
}
@keyframes star3 {
    from {
        opacity: 0;
        transform: rotate3d(0, 30, 2, 200deg);
    }
    to {
        opacity: 1;
        transform: rotate3d(0, 2, 2, 0deg);
    }
}
/*-- Star3 CSS End --*/

/*-- Star4 CSS Start --*/
.svg-section-box2 .star4 {
    animation-name: star4;
    animation-duration: 1s;
    animation-delay: 0.9s;
    opacity: 0;
    animation-fill-mode: forwards;
    font-size: 40px;
    padding: 0 5px;
    animation-iteration-count: 1;
    color: #E84824;/*-- Change Star Color --*/
}
@keyframes star4 {
    from {
        opacity: 0;
        transform: rotate3d(0, 30, 2, -200deg);
    }
    to {
        opacity: 1;
        transform: rotate3d(0, 2, 2, 0deg);
    }
}
/*-- Star4 CSS End --*/

/*-- Star5 CSS Start --*/
.svg-section-box2 .star5 {
    animation-name: star5;
    animation-duration: 1s;
    animation-delay: 1.4s;
    opacity: 0;
    animation-fill-mode: forwards;
    font-size: 40px;
    padding: 0 5px;
    animation-iteration-count: 1;
    color: #999999;/*-- Change Star Color --*/
}
@keyframes star5 {
    from {
        opacity: 0;
        transform: rotate3d(0, 30, 2, 200deg);
    }
    to {
        opacity: 1;
        transform: rotate3d(0, 2, 2, 0deg);
    }
}
/*-- Star5 CSS End --*/